name: CI/CD Main Pipeline

permissions:
  contents: write
  pull-requests: write

on:
  push:
    branches:
      - main

jobs:
  lint:
    uses: kurocado-studio/platform/.github/workflows/workflow.lint.yml@main
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
